img {
    width: 100%;
    height: 100%;
    display: block;
  }
  
  .card-img-top {
    height: 75%;
  }
  
  
  .hidden {
    opacity: 0;
    display: none;
  }

  .navbar {
    background: #181620 ;
}


.finish-text {
 margin: 20, auto, 20;
 text-transform: uppercase;
 font-size: 30px;
  color: white;
}

body {
  background: #181620 ;
}