@import './common';
@import './menu-btn';





.loader-wheel {
    display: none;
    font-size: 34px;
    position: relative;
    height: 1em;
    width: 1em;
    padding-left: 0.45em;
    overflow: hidden;
    margin: 0 auto;
    animation: loader-wheel-rotate 0.5s steps(12) infinite;
  }
  
  .loader-wheel i {
    display: block;
    position: absolute;
    height: 0.3em;
    width: 0.1em;
    border-radius: 0.05em;
    background: white; 
    opacity: 0.8;
    transform: rotate(-30deg);
    transform-origin: center 0.5em;
  }
  
  @keyframes loader-wheel-rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  .page-load-status {
    display: none;
 
  }