
a {
    text-decoration: none;
    color:  inherit;
}

.menu-container {
	display: flex;
	flex-direction: column;
	transform: rotatex(10deg);
	animation: rotateAngle 6s linear infinite;
    
	
}

.global-container {
	height: 100%;
    width: 100%;
	display: flex;
}

.perspective-container {
		position: relative;
	margin: auto;
	background: #181620;
perspective: 500px;
}