@import './menu-btn';

html {
	height: 100%;
	display: flex;
}
body {
	position: relative;
	margin: auto;
	background: #181620;
	perspective: 500px;
}

a {
    text-decoration: none;
    color:  inherit;
}

.menu-container {
	display: flex;
	flex-direction: column;
	transform: rotatex(10deg);
	animation: rotateAngle 6s linear infinite;
    margin-top: 35%;
}

